.heading {
    width: 100%;
    text-align: left;
}

.heading h3 {
    display: inline;
}

.heading button {
    float: right;
    border: 3px dotted blue ;
}

.bigimg {
    width: 100%;
}

#start, #status {
    font-size: 22px;
}

#kaalaa {
background-color: goldenrod;
    position: fixed;
    margin-bottom: 0px;
    width: 100%;
    bottom: 0px;
    line-height: 1.53;
}

#popo {
    width: 90%;
}

.aankhe {
    display: inline-block;
    width: 45%;
}

video {
    background: url("game_console.png");
    background-size: cover;
    background-position: center;
    padding: 25px;
}

.momo {
    text-align: left;
    font-size: 20.5px;
    padding: 32px;
}